<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/stylesheet.css" />
    <link rel="icon" href="https://icon-library.com/images/about-icon-png/about-icon-png-4.jpg" />
</head>
<body>
    <div class="main-content">
        {{>header}}
        <Label><b>Profile Name: </b></Label> {{name}}
        </br>
        <p>This page is created and maintained by panidodd. It is a practice project developed as part of Udemy Course</p>
        <img class="profileImg" src="/img/scan photo.jpg">
    </div>
    {{>footer}}
</body>
</html>