<html>
    <head>
        <title>Help</title>
        <link rel="stylesheet"  href="./css/stylesheet.css" />
        <link rel="icon"  href="https://st2.depositphotos.com/1157537/11035/v/950/depositphotos_110352968-stock-illustration-need-help-question-icon-speech.jpg" />
    </head>
    <body>
        <div class="main-content">
           {{>header}}
           <h4>{{helpText}}</h4>
        </div>
         {{>footer}}
    </body>
   
</html>
