<html>

<head>
    <title>Page Not Found</title>
    <link rel="stylesheet" href="/css/stylesheet.css" />
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>{{errorText}}</p>
    </div>
    {{>footer}}
</body>
</html>